.popup {
  opacity: 0;
  z-index: -9999;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease;
}

.popup_open {
  display: flex;

  z-index: 10;
  visibility: visible;
  opacity: 1;
}

.popup__layout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.popup__content {
  padding: 24px;

  box-sizing: border-box;
  width: 650px;
  max-height: 90vh;
  max-width: 90vw;
  overflow: hidden;

  position: relative;
  z-index: 20;

  border-radius: 12px;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.popup__header {
}

.popup__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
  margin: 0 0 16px;
}

.popup__text {
  margin: 0 0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #fff;
}

.popup__spinner-container {
  display: flex;
}

.popup__spinner {
  z-index: -1;
  margin-right: 32px;
}

.button {
  text-transform: uppercase;
  padding: 16px 24px;
  background: rgb(25, 130, 160);
  background: linear-gradient(
    100deg,
    rgba(25, 130, 160, 1) 0%,
    rgba(40, 180, 190, 1) 100%
  );
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 18px;

  width: 190px;

  transition: 200ms ease;
  font-weight: bold;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button:hover:not(:disabled) {
  opacity: 0.6;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: progress;
}

.popup__trigger {
  margin-top: 24px;
}

.popup__form {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1b;
}

.input:not(:last-child) {
  margin-bottom: 16px;
}

.input__label {
  font-weight: 700;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.input__field {
  display: block;
  background: transparent;
  border: 1px solid #706f6f;
  border-radius: 5px;
  padding: 8px 12px;
  letter-spacing: 1px;
}

.input__field:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.popup__highlight-text {
  font-weight: bold;
}

.win__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(30, 157, 178);
}

.win__item {
  font-weight: 700;
}

.win__link {
  font-family: "Montserrat", sans-serif;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 12px;
  border: none;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 8px;
  color: rgba(25, 130, 160, 1);
  font-size: 18px;
  width: 190px;
  text-transform: uppercase;
  background: rgb(42, 183, 193);
  background: linear-gradient(
    270deg,
    rgba(42, 183, 193, 1) 0%,
    rgba(110, 206, 214, 1) 80%,
    rgba(141, 217, 223, 1) 100%
  );
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  transition: 200ms;
}

.win__link:hover {
  opacity: 0.3;
}

.win__button {
  margin-bottom: 24px;
}

.widget-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  background-color: rgb(115, 250, 252);
  border: 8px solid rgba(255, 255, 255, 0.6);
  color: white;
  border-radius: 0 0 18px 18px;

  transition: opacity 200ms ease;
  position: absolute;
  transform-origin: top left;

  left: -8px;
  top: 60%;
  width: 180px;
  transform: rotate(-90deg);
}

.widget-trigger:hover {
  opacity: 0.6;
  cursor: pointer;
}

.widget-trigger svg {
  margin-right: 4px;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  .popup__spinner {
    margin: 0;
  }

  .button,
  .win__link {
    width: 100%;
  }

  .button {
    font-size: 14px;
  }

  .win__link {
    font-size: 16px;
  }

  .popup__content {
    padding: 24px 12px;
    overflow-y: auto;
  }

  .popup__spinner-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .popup__spinner {
    margin: 24px 0 24px;
  }

  .popup__trigger {
    display: block;
    margin: 24px auto 0;
  }

  .popup__title {
    font-size: 22px;
  }

  .popup__text {
    font-size: 16px;
  }

  .input__field {
    font-size: 16px;
  }

  .win {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
