.fortune-popup {
  opacity: 0;
  z-index: -9999;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease;
}

.fortune-popup_open {
  display: flex;

  z-index: 1100;
  visibility: visible;
  opacity: 1;
}

.fortune-popup__layout {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.fortune-popup__content {
  padding: 32px;

  box-sizing: border-box;
  width: 650px;
  max-height: 80vh;
  max-width: 90vw;
  overflow: hidden;

  position: relative;
  z-index: 20;

  border-radius: 12px;
  background: linear-gradient(360deg, #dfd5cc 0%, #ffffff 100%);
}

.fortune-popup__header {
  display: flex;
  flex-direction: column;
}

.fortune-popup__title {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #1f8fae 0%, #4de1eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0 auto 16px 0;

  justify-self: flex-start;

  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
}

.fortune-popup__text {
  margin: 0 0 16px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;

  color: #333333;
}

.fortune-popup__spinner-container {
  display: flex;
}

.fortune-popup__spinner {
  z-index: -1;
  margin-right: 32px;
}

.button {
  text-transform: uppercase;
  padding: 16px 20px;
  background: linear-gradient(90deg, #1f8fae 0%, #4de1eb 100%);
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 18px;

  width: 100%;

  transition: 200ms ease;
  font-weight: bold;

  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.46);
}

.button:hover:not(:disabled) {
  opacity: 0.6;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.3;
  filter: grayscale(1);
  cursor: progress;
}

.fortune-popup__trigger {
  position: sticky;
  bottom: 0;
  margin-top: 0;
}

.fortune-popup__form {
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1b;
}

.input:not(:last-of-type) {
  margin-bottom: 16px;
}

.input__label {
  font-weight: 700;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.input__field {
  display: block;
  background: transparent;
  border: 1px solid #706f6f;
  border-radius: 5px;
  padding: 8px 12px;
  letter-spacing: 1px;

  font-size: 14px;
}

.input__field:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.fortune-popup__highlight-text {
  font-weight: bold;
}

.win {
  display: flex;
  flex-direction: column;
}

.win__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;

  margin: 0 0 8px;

  color: rgb(30, 157, 178);
}

.win__operator {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;

  margin: 0 0 16px;

  color: rgb(30, 157, 178);
}

.win__item {
  font-weight: 700;
}

.win__link {
  font-family: "Montserrat", sans-serif;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  padding: 12px;
  border: none;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 8px;
  color: rgba(25, 130, 160, 1);
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  background: rgb(42, 183, 193);
  color: white;

  background: linear-gradient(-90deg, #1f8fae 0%, #4de1eb 100%);

  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.46);

  transition: 200ms;
}

.win__link:hover {
  opacity: 0.6;
}

.win__button {
  margin: auto 0 0;
}

.widget-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01bdc6;
  border: none;
  color: white;
  transition: opacity 200ms ease;
  z-index: 10;
  position: fixed;

  transform-origin: top left;
  left: 0;
  top: 50%;
  transform: rotate(-90deg);
  border-radius: 0 0 18px 18px;
  padding: 0 12px;
}

.widget-trigger:hover {
  opacity: 0.6;
  cursor: pointer;
}

.widget-trigger svg {
  margin-right: 4px;
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}

.widget-trigger__text {
  margin: 12px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .fortune-popup__spinner {
    margin: 0;
  }

  .button,
  .win__link {
    width: 100%;
  }

  .button {
    font-size: 14px;
  }

  .win__button {
    font-size: 12px;
  }

  .win__link {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .fortune-popup__content {
    padding: 16px 12px 24px;
    overflow-y: auto;
  }

  .fortune-popup__spinner-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .fortune-popup__spinner {
    margin: 24px 0 24px;
  }

  .fortune-popup__trigger {
    display: block;
    margin: 0 auto 0;
  }

  .fortune-popup__title {
    font-size: 22px;
  }

  .fortune-popup__text {
    font-size: 16px;
  }

  .input__field {
    font-size: 16px;
  }

  .win {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fortune-popup__header-br {
    display: none;
  }

  .widget-trigger {
    transform-origin: top right;
    top: unset;
    left: unset;
    right: 30px;
    bottom: 40%;
    transform: rotate(-90deg);
    border-radius: 18px 18px 0 0;
    padding: 0 8px;
  }

  .widget-trigger__text {
    margin: 8px 0;
    font-size: 12px;
  }
}

.button_floating {
  box-shadow: 1px 3px 24px rgb(0 0 0 / 46%);
}

.fortune-popup__disclaimer {
  font-size: 12px;
  color: #706f6f;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 360px) {
  .fortune-popup__title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .fortune-popup__text {
    margin-bottom: 0;
  }

  .win__title {
    text-align: center;
  }
}
